In [5]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [6]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2022-05-20 May:15:22,-9.8000,-139.0333,77.72,67,0,10.18
1,1,San Matias,BO,2022-05-20 May:15:23,-16.3667,-58.4000,61.27,46,44,3.24
2,2,Hobart,AU,2022-05-20 May:15:15,-42.8794,147.3294,45.27,92,75,9.22
3,3,Hermanus,ZA,2022-05-20 May:15:23,-34.4187,19.2345,58.23,67,67,1.61
4,4,Cape Town,ZA,2022-05-20 May:15:04,-33.9258,18.4232,55.90,82,20,4.61

In [7]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [8]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [9]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating = False, max_intensity = 300, point_radius = 4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2022-05-20 May:15:22,-9.8000,-139.0333,77.72,67,0,10.18
15,15,Morgan City,US,2022-05-20 May:15:26,29.6994,-91.2068,88.00,84,40,12.66
16,16,Jamestown,US,2022-05-20 May:13:59,42.0970,-79.2353,76.59,81,75,11.50
23,23,Ormara,PK,2022-05-20 May:15:28,25.2088,64.6357,81.41,93,7,13.98
26,26,Victoria,HK,2022-05-20 May:10:30,22.2855,114.1577,79.32,79,17,3.00
32,32,Sattahip,TH,2022-05-20 May:15:30,12.6664,100.9007,84.97,74,40,4.61
33,33,Berea,US,2022-05-20 May:11:09,41.3662,-81.8543,82.38,65,100,20.71
35,35,Isangel,VU,2022-05-20 May:15:31,-19.5500,169.2667,78.91,83,40,11.50
45,45,Hilo,US,2022-05-20 May:16:34,19.7297,-155.0900,88.29,76,20,13.80
47,47,Lorengau,PG,2022-05-20 May:16:35,-2.0226,147.2712,82.89,78,94,9.98

In [16]:
preferred_cities_df.count()

City_ID       163
City          163
Country       163
Date          163
Lat           163
Lng           163
Max Temp      163
Humidity      163
Cloudiness    163
Wind Speed    163
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
0        Atuona      PF     77.72  -9.8000 -139.0333
15  Morgan City      US     88.00  29.6994  -91.2068
16    Jamestown      US     76.59  42.0970  -79.2353
23       Ormara      PK     81.41  25.2088   64.6357
26     Victoria      HK     79.32  22.2855  114.1577
32     Sattahip      TH     84.97  12.6664  100.9007
33        Berea      US     82.38  41.3662  -81.8543
35      Isangel      VU     78.91 -19.5500  169.2667
45         Hilo      US     88.29  19.7297 -155.0900
47     Lorengau      PG     82.89  -2.0226  147.2712

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
        params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Atuona,PF,77.72,-9.8000,-139.0333,Villa Enata
15,Morgan City,US,88.00,29.6994,-91.2068,Hampton Inn & Suites Morgan City
16,Jamestown,US,76.59,42.0970,-79.2353,Hampton Inn & Suites Jamestown
23,Ormara,PK,81.41,25.2088,64.6357,Kenara Colony house for Rent
26,Victoria,HK,79.32,22.2855,114.1577,Mini Central
32,Sattahip,TH,84.97,12.6664,100.9007,Pob Choke Residences ( พบโชคเรดซิเด้นท์ )
33,Berea,US,82.38,41.3662,-81.8543,Comfort Inn Cleveland Airport
35,Isangel,VU,78.91,-19.5500,169.2667,Tanna Lodge
45,Hilo,US,88.29,19.7297,-155.0900,Hilo Hawaiian Hotel
47,Lorengau,PG,82.89,-2.0226,147.2712,Lorengau Harbourside Hotel

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))